:host {
    display: block;
    width: 100%;
}

.spinner-container {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dddbda;
}

.flip-card {
    width: 100%;
    height: 350px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flipped { transform: rotateY(180deg); }

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 4px;
}

.flip-card-back { transform: rotateY(180deg); }

lightning-card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-area {
    flex-grow: 1;
    height: 240px; 
    overflow-y: auto;
    text-align: left;
}

.footer-text {
    text-align: center;
    color: #747474;
    font-size: 0.75rem;
    padding: 5px;
}