/* Ensure the flip card takes up available width but handles its own 3D space */
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 450px; /* Adjusted height for mobile screens */
    perspective: 1000px;
    margin-bottom: 20px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flipped {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8px;
    overflow-y: auto; /* Allow internal scrolling for long news content */
}

.flip-card-back {
    transform: rotateY(180deg);
    background-color: #f3f3f3;
}